
.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

.signout{
  all: unset;
  padding: 8px 15px;
}
.logo{
  animation: logoAni 25s infinite;
  color: whitesmoke !important;
}
@keyframes logoAni{
  0%,
  100%{opacity: 0.5;}
  50%{
    letter-spacing: 7px;
    opacity:1;
  }
  
}














