.theme-btn{
  outline: 0;
  border-radius: 1rem;
  padding: .3rem .5rem;
  color: black;
  background-color: #3d4a59;
  border: 1.5px solid #ddd;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all .3s;
}
.theme-btn:hover{
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
  background-color: #9e4673;
  border: none;
  outline: 0;
}
.theme-btn:focus{
  padding: 4px 12px;
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
box-shadow: 0 0 0 5px #3d4a59, 0 0 0 6px #fff;
}
/*dark mode*/
.Dark{
  color: rgb(255, 255, 0.87);
  background-color: #242424;
}
.Dark main{
  color: rgb(255, 255, 0.87);
}
.hide-when-mobile{
    border-radius: 0 0 44px 44px;
}
.myfooter footer{
  border-radius:  44px 44px 0 0;

}
/*icon : sun & moon*/
.fa-regular{
  font-size: 22px;
}
.fa-regular:hover{
  font-size: 24px;
  cursor: pointer;
  transform: all 0.1s;
}
.Light .fa-sun{
  display: none;
}
.fa-sun{
  color: orange;
}
.Dark .fa-moon{
  display: none;
}